GAME LOGIC: User will start with $100000 on his account, the goal is to become a millonaire by doing bets on which of the 2 teams is going a) Win b) Lose c) Tie

REQUIREMENTS:
1) User can decide how much money he will use on each match.
2) Each win will double user bet amount, or reduce it in half
3) User can choose to which team he want to bet, and what kind of bet he wants to do (win, lose, tie)
4) If user pass the million dollars, he win, if he loses all the money, game over!

HOW TO PLAY:
1. CLICK ON THE TEAM YOU WANT TO BET ON
2. SELECT WHAT KIND OF BET YOU WANT TO MAKE (YOUR TEAM CAN WIN, LOSE OR TIE IN THE MATCH)
3. SELECT THE TOTAL AMOUNT YOU WANT TO BET (REMEMBER: YOU CAN ONLY BET MONEY THAT IS AVAILABLE IN YOUR ACCOUNT)
4. CLICK ON 'PLACE YOUR BET' BUTTON, AND YOU'LL SEE THE RESULTS OF YOUR BET

IF YOU WIN: YOUR TOTAL BET WILL BE MULTIPLIED BY 2 AND ADDED TO YOUR TOTAL AMOUNT

IF YOU LOSE: YOUR TOTAL BET WILL BE MULTIPLIED BY 2 AND SUBTRACTED FROM YOUR TOTAL AMOUNT


GOOD LUCK!

START GAME -> BUTTON
